# Copyright (c) 2022, NVIDIA CORPORATION. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[defaults]
forks=100
timeout=60
roles_path = ./galaxy-roles:./roles
inventory = ./inventory
interpreter_python = /usr/bin/python3

host_key_checking = True
vault_password_file = .vault-password

#gathering = smart
#fact_caching = jsonfile
#fact_caching_connection = /var/tmp/ansible_cache
#fact_caching_timeout = 86400

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o ConnectionAttempts=10 -F ../ssh/config
control_path = ../ssh/ansible-%%r@%%h:%%p
